/* Image container for Home Page */
.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Create Image Link to Projects
    - With a subtitle on the bottom see know what
    kind of project was done
    - No text decoration
    Issues:
    - Still have some margin issue with the subtitle
*/
.image-container a {
    text-decoration: none;
    background-color: transparent;
    align-items: center;
    text-align: center;
    margin-left: 15%;
}

/* Issue: 
    - Image shape stays normal if we define in main html page ...
*/
.image-container a > img {
    width: 200px;
    height: 160px;
}

.image-container a:hover > img {
    opacity: 0.60;
}

.image-container a > p {
    color: #2E1503;
    text-decoration: none;
}

.image-container a:visited {
    color: black;
}
