@import "style\shared.css";

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5% 25px;

}

.logo img {
    width: 17%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: var(--brown);
    font-size: 1.5vw;
    font-family: 'Poppins';
}

/* Change link color on hover */
.nav-links a:hover {
    color: var(--pink);
}
  
/* Up to top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: solid;
    border-width: 2px;
    background-image: linear-gradient(to bottom, #E8C4B4, #FFF2EC 80%);
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
}
#myBtn:hover {
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0));
}
/* arrows */
.arrow {
    border: solid #342D27;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.45vw;
}
.arrow-1 {
    border: solid #E59F9B;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right-button a {
    text-decoration: none;
    color: var(--pink)
}

/* button to navigate to different page
will use later; updated 8/21/2023 */
.aboutme-button a {
    margin-top: 0;
    margin-right: 5%;
    margin-left: auto;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    color: #E59F9B;
}
.proj-button {
    margin-top: 0;
    margin-right: 5%;
    margin-left: auto;
    font-size: 2vw;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    color: var(--brown);
}