body {
    margin: 0;
    font-family: 'Source Serif Pro';
    background-color: rgba(121, 92, 52, 0.02);
    min-height: 100%;
    color: #4B371C;
}

a {
    text-decoration: none;
    color: #4B371C;
}

.line {
    border-bottom: 2px solid #2E1503;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.line-1 {
    border-bottom: 2px dashed #795C34;
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    padding: 20px 10px;
    margin-top: 1%;
    margin-right: 10%;
}

.header-right {
    float: right;
    margin-top: 5%;
}
.header a {
    padding-left: 3em;
    font-size: 1.9vw;

}

.header a:hover {
    color: #E5B36E;
}
.header img {
    width: 11%;
}

.header h1 {
    text-align: center;
    align-items: center;
    font-size: 50px;
    color: #4B371C; 
}