
:root {
    --purple: #BF6DFF;
    --darkgrey: #3B3B3B;
    --lightpurple: #ECD3FF;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'Lexend Mega';
    /* font-family: 'Montserrat'; */
    background-color: white;
    min-height: 100%;
    color: var(--darkgrey);
}

.three-col-grid {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 5%;
    margin-top: 2%;
}
.three-col-grid > * {
    width: calc(100%/3);
}
.three-col-grid h3 {
    font-size: 1.7vw;
}

.three-col-grid p {
    font-size: 1.4vw;
}

.circle {
    background-image: 'images\startup\ellipse_1.png';
}

.center-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .kiosk_logo a:hover {
    background-image: url("images/kiosk_images/House/house_icon_exit.png")

} */
.one-col-grid {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* place-items: center; */
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
}
.one-col-grid h1 {
    font-family: 'Lexend Mega';
    font-size: 3vw;
    color: var(--purple);
}

.one-col-grid h3 {
    font-family: 'Lexend Mega';
    font-size: 2vw;
}

.one-col-grid h4 {
    font-family: 'Lexend Mega';
    font-size: 1.75vw;
}

.one-col-grid p {
    font-size: 1.4vw;
}

.one-col-grid li {
    font-size: 1.3vw;
}

/* two col grid */
.two-col-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
    column-gap: 3.5%;
}

.two-col-grid img {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    column-gap: 100px;
}

.two-col-grid h1 {
    font-family: 'Lexend Mega';
    font-size: 3vw;
    color: var(--purple);
}

.two-col-grid h3 {
    font-family: 'Lexend Mega';
    font-size: 2vw;
}

.two-col-grid p {
    font-size: 1.4vw;
}

.two-col-grid ul {
    font-size: 1.4vw;
}
/* .two-col-grid > img {
    padding-left: 20%;
} */

/* chat bubble */
.talk-bubble {
    margin-left: 25%;
    display: inline-block;
    position: relative;
    width: 50%;
    height: auto;
    background-color: var(--pastelblue);
}
.round{
    border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: var(--pastelblue) transparent transparent transparent;
}
/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}

#reflection ul {
    font-size: 1.5vw;
}

#user-testing ul {
    font-size: 1.5vw;
}

.project-button {
    border-style: solid;
    float: right;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
    border-width: 0.25vw;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.project-button:hover {
    background-image: linear-gradient(to right, #EAB2D1, #E5B36E);
}