

/* Image container for Home Page */
.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.image-container a {
    padding-left: 50px;
    text-decoration: none;
    background-color: transparent;
}

.image-container a > p {
    padding-left: 30%;
    text-decoration: none;
    text-align: center;
}

.image-container a > img {
    /* width: 300px;
    height: 300px; */
    /* padding-left: 50psx;
    padding-right: 50px; */
}

.image-container a:hover > img {
    opacity: 0.60;
}

.image-container a:visited {
    color: black;
}

/* Image container for EVC projects page */
.evc-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    column-gap: 25px;
}
.evc-img-container > img {
    height: 300px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

/* About me */
.aboutme-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 25px;
    margin-left: 5%;
}

.aboutme-container > img {
    border-radius: 50%;
    height: 400px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text-container {
    display: grid;
    margin-right: 8%;
}

/* wonderfruit page style */
.wonder-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.wonder-img-container > img {
    border: 1px solid black;
    height: 400px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

/* wonderfruit page style */
.banhtrang-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.banhtrang-img-container > img {
    border: 1px solid black;
    height: 400px;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.banhtrang-img-container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-left: 5%;
    margin-right: 5%;
    grid-gap: 10px;
}

.banhtrang-img-container-1 > img {
    border: 1px solid black;
    height: 400px;
    text-align: center;
    margin-top: 5%;
    /* margin-left: 5%; */
    margin-right: 5%;
    margin-bottom: 5%;
}


