:root {
    --brown: #4342D27;
    --orange: #E5B36E;
    --lightbrown: rgba(75, 55, 28, 0.2);
    --transbrown: rgba(75, 55, 28, 0.03);
    --grey: #282828;
}

/* Scroll to section */
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Lexend Mega';
    font-size: 4vw;
}

h2 {
    font-size: 3.65vw;
}

p {
    font-size: 1.75vw;
}

/* About me */
.aboutme-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* place-items: center; */
    /* margin-left: 10%;
    margin-right: 10%; */
}

.aboutme-container > img {
    border-radius: 50%;
    width: 75%;
}

#projects {
    text-align: center;
}

.project-grid-1 {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}

.project-grid-kid {
    display: grid;
    grid-gap: 1px;
}

.project-grid-1 h3 {
    font-family: 'Lexend Mega';
    text-align: center;
    font-size: 2.5vw;
}

.project-grid-1 p {
    font-size: 1.5vw;
    line-height: 1.25;
}

.project-grid {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 280px 1fr;
    background-image: linear-gradient(to right, rgba(234, 178,209, 0.5), rgba(229, 179, 110, 0.4));
    box-shadow: 2px 5px 5px var(--lightbrown);
    border-radius: 80px;
    place-items: center;
    padding-right: 60px;
    column-gap: 2.5%;
    padding-left: 3%;
}

.project-grid > img {
    border-radius: 10%;
    width: 70%;
    /* margin-left: 3%; */
}

.text-container {
    display: grid;
}

.text-container h3 {
    font-family: 'Lexend Mega';
    font-size: 2.5vw;
}

.text-container h4 {
    font-family: 'Lexend Mega';
    font-size: 1.75vw;

}

.text-container p {
    font-size: 1.75vw;
    line-height: 1.5;
    margin-top: 0;
    font-weight: lighter;
}

.text-container a {
    font-size: 1.5vw;
}

/* .project-button {
    border-style: solid;
    float: right;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
    border-width: 0.25vw;
    width: 25%;
}

.project-button:hover {
    background-image: linear-gradient(to right, #EAB2D1, #E5B36E);
} */

.button:hover {
    background-color: var(--orange);
}

/* Image container for Home Page */
.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Create Image Link to Projects
    - With a subtitle on the bottom see know what
    kind of project was done
    - No text decoration
    Issues:
    - Still have some margin issue with the subtitle
*/
.image-container a {
    text-decoration: none;
    background-color: transparent;
    align-items: center;
    text-align: center;
    margin-left: 15%;
}

/* Issue: 
    - Image shape stays normal if we define in main html page ...
*/
.image-container a > img {
    width: 200px;
    height: 160px;
}

.image-container a:hover > img {
    opacity: 0.60;
}

.image-container a > p {
    text-decoration: none;
}

.image-container a:visited {
    color: black;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--transbrown);
    justify-content: center;
    margin: 5%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #4B371C;
}

.resume > div {
    margin: 2%;
}

.title {
    display: flex;
    flex-direction: row;
}

.resume h3 {
    font-size: 2vw;
}
.resume p, ul {
    font-size: 1.75vw;
}




